# MacOS temporary files
*/.DS_Store
.DS_Store

# IDE specific directories
.vscode
.idea

# Python virtual environments
.venv

# CMake build directories should be created in the following folder
*._*
build/*

# Generated documentation
docs/*

# Other temporary files
*.out
*.txt
*.csv