# MacOS temporary files
*/.DS_Store
.DS_Store

# IDE specific directories
.vscode
.idea

# Python virtual environments
.venv

# CMake build directories should be created in the following folder
*._*
build/*

# Generated documentation, just include source folder
docs/build
docs/html
docs/latex
docs/xml

# Other temporary files
*.out
*.txt
*.csv

# Except CMake files are important!
!CMakeLists.txt
# Except requirements.txt needed to freeze python environment
!requirements.txt
# Do not ignore CSVs included in documentation
!docs/source/**/*.csv
