stages:
  - prepare
  - check
  - build
  - test

variables:
  SCHEDULER_PARAMETERS: "-A hpc-prf-cifi -p normal -t 00:30:00 -n 2 -N 1"

default:
  tags:
    - slurm
  before_script:
    - source env.sh
    # Set PATH directly instead of using activate (venvs aren't portable across different workspace paths)
    - export PATH="$PWD/.venv/bin:$PATH"
  id_tokens:
    CI_JOB_JWT:
      aud: https://git.uni-paderborn.de

###
#
# Prepare Python virtual environment
#
###

prepare:venv:
  stage: prepare
  tags:
    - shell
  before_script:
    - source env.sh
  script:
    - python -m venv .venv
    - source .venv/bin/activate
    - python -m pip install --upgrade pip
    - python -m pip install -r scripts/code_generator/requirements.txt
    - python -m pip install -r scripts/evaluation/requirements.txt
  artifacts:
    paths:
      - .venv/
    expire_in: 1 day


###
#
# Build documentation
#
###

build:docs:
  stage: build
  tags:
    - shell
  before_script: []
  script:
    - source env.sh
    - cd docs
    - python -m venv .venv
    - source .venv/bin/activate
    - python -m pip install --upgrade pip
    - python -m pip install -r requirements.txt
    - make html
    - module load devel/Doxygen/1.11.0-GCCcore-13.3.0
    - doxygen doxy.config
  only:
    changes:
      - docs/**/*
      - .gitlab-ci.yml
  artifacts:
    paths:
      - docs/build
      - docs/xml

###
#
# Check formatting of all benchmarks
#
###

.check: &check
  stage: check
  tags:
    - shell
  before_script: []
  script:
    - module load compiler/Clang/13.0.1-GCCcore-11.2.0
    - find $BENCHMARK_FOLDER -regex '.*\.\(cpp\|hpp\|cc\|cxx\|h\)' -exec clang-format -style=file -i {} \;
    - git diff | cat
    ## do not test for real yet
    #- test -z "$(git status --porcelain)"

  only:
    changes:
      - $BENCHMARK_FOLDER/**/*
      - shared/**/*
      - scripts/**/*
      - cmake/**/*
      - .gitlab-ci.yml

check:STREAM:
  <<: *check
  variables:
    BENCHMARK_FOLDER: STREAM

check:RandomAccess:
  <<: *check
  variables:
    BENCHMARK_FOLDER: RandomAccess

check:PTRANS:
  <<: *check
  variables:
    BENCHMARK_FOLDER: PTRANS

check:LINPACK:
  <<: *check
  variables:
    BENCHMARK_FOLDER: LINPACK

check:GEMM:
  <<: *check
  variables:
    BENCHMARK_FOLDER: GEMM

check:FFT:
  <<: *check
  variables:
    BENCHMARK_FOLDER: FFT

check:b_eff:
  <<: *check
  variables:
    BENCHMARK_FOLDER: b_eff

###
#
# Build all benchmarks
#
###

.build: &build
  stage: build
  script:
    - rm -rf build
    - mkdir -p build
    - cd build
    - cmake ../$BENCHMARK_FOLDER -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 $BENCHMARK_OPTIONS
    - make -j 40 all
  artifacts:
    paths:
      - build/
    expire_in: 1 day
  only:
    changes:
      - $BENCHMARK_FOLDER/**/*
      - shared/**/*
      - scripts/**/*
      - cmake/**/*
      - .gitlab-ci.yml

build:STREAM:
  <<: *build
  variables:
    BENCHMARK_FOLDER: STREAM
  dependencies:
    - prepare:venv
    - check:STREAM
  needs: ["prepare:venv", "check:STREAM"]

build:STREAM_HP:
  <<: *build
  variables:
    BENCHMARK_FOLDER: STREAM
    BENCHMARK_OPTIONS: -DDATA_TYPE=half -DVECTOR_COUNT=1 -DGLOBAL_MEM_UNROLL=32
  dependencies:
    - prepare:venv
    - check:STREAM
  needs: ["prepare:venv", "check:STREAM"]

build:STREAM_DP:
  <<: *build
  variables:
    BENCHMARK_FOLDER: STREAM
    BENCHMARK_OPTIONS: -DDATA_TYPE=double -DVECTOR_COUNT=1 -DGLOBAL_MEM_UNROLL=8
  dependencies:
    - prepare:venv
    - check:STREAM
  needs: ["prepare:venv", "check:STREAM"]

build:RandomAccess:
  <<: *build
  variables:
    BENCHMARK_FOLDER: RandomAccess
  dependencies:
    - prepare:venv
    - check:RandomAccess
  needs: ["prepare:venv", "check:RandomAccess"]

build:PTRANS:
  <<: *build
  variables:
    BENCHMARK_FOLDER: PTRANS
    BENCHMARK_OPTIONS: -DHOST_EMULATION_REORDER=Yes
  dependencies:
    - prepare:venv
    - check:PTRANS
  needs: ["prepare:venv", "check:PTRANS"]

build:LINPACK:
  <<: *build
  variables:
    BENCHMARK_FOLDER: LINPACK
    BENCHMARK_OPTIONS: -DLOCAL_MEM_BLOCK_LOG=4 -DREGISTER_BLOCK_LOG=3 -DNUM_REPLICATIONS=3
  dependencies:
    - prepare:venv
    - check:LINPACK
  needs: ["prepare:venv", "check:LINPACK"]

build:LINPACK_DP:
  <<: *build
  variables:
    BENCHMARK_FOLDER: LINPACK
    BENCHMARK_OPTIONS: -DLOCAL_MEM_BLOCK_LOG=4 -DREGISTER_BLOCK_LOG=3 -DNUM_REPLICATIONS=3 -DDATA_TYPE=double
  dependencies:
    - prepare:venv
    - check:LINPACK
  needs: ["prepare:venv", "check:LINPACK"]

build:GEMM:
  <<: *build
  variables:
    BENCHMARK_FOLDER: GEMM
    BENCHMARK_OPTIONS: -DBLOCK_SIZE=32
  dependencies:
    - prepare:venv
    - check:GEMM
  needs: ["prepare:venv", "check:GEMM"]

build:GEMM_HP_REP2:
  <<: *build
  variables:
    BENCHMARK_FOLDER: GEMM
    BENCHMARK_OPTIONS: -DDATA_TYPE=half -DNUM_REPLICATIONS=2 -DBLOCK_SIZE=32
  dependencies:
    - prepare:venv
    - check:GEMM
  needs: ["prepare:venv", "check:GEMM"]
  allow_failure: true

build:GEMM_DP_REP2:
  <<: *build
  variables:
    BENCHMARK_FOLDER: GEMM
    BENCHMARK_OPTIONS: -DDATA_TYPE=double -DNUM_REPLICATIONS=2 -DBLOCK_SIZE=32
  dependencies:
    - prepare:venv
    - check:GEMM
  needs: ["prepare:venv", "check:GEMM"]

build:FFT:
  <<: *build
  variables:
    BENCHMARK_FOLDER: FFT
  dependencies:
    - prepare:venv
    - check:FFT
  needs: ["prepare:venv", "check:FFT"]

build:FFT_small:
  <<: *build
  variables:
    BENCHMARK_FOLDER: FFT
    BENCHMARK_OPTIONS: -DLOG_FFT_SIZE=4 -DNUM_REPLICATIONS=2
  dependencies:
    - prepare:venv
    - check:FFT
  needs: ["prepare:venv", "check:FFT"]

build:b_eff:
  <<: *build
  variables:
    BENCHMARK_FOLDER: b_eff
    BENCHMARK_OPTIONS: -DHOST_EMULATION_REORDER=Yes
  dependencies:
    - prepare:venv
    - check:b_eff
  needs: ["prepare:venv", "check:b_eff"]

###
#
# Execute tests for all benchmarks
#
###

.test: &test
  stage: test
  script:
    - cd build
    - $PREPARE_SCRIPT
    - make CTEST_OUTPUT_ON_FAILURE=1 test
  artifacts:
    when: on_failure
    paths:
      - build/Testing/Temporary/LastTest.log
  only:
    changes:
      - $BENCHMARK_FOLDER/**/*
      - shared/**/*
      - scripts/**/*
      - cmake/**/*
      - .gitlab-ci.yml

test:STREAM:
  <<: *test
  variables:
    BENCHMARK_FOLDER: STREAM
  dependencies:
    - prepare:venv
    - build:STREAM
  needs: ["prepare:venv", "build:STREAM"]

test:STREAM_HP:
  <<: *test
  variables:
    BENCHMARK_FOLDER: STREAM
  dependencies:
    - prepare:venv
    - build:STREAM_HP
  needs: ["prepare:venv", "build:STREAM_HP"]
  allow_failure: true

test:STREAM_DP:
  <<: *test
  variables:
    BENCHMARK_FOLDER: STREAM
  dependencies:
    - prepare:venv
    - build:STREAM_DP
  needs: ["prepare:venv", "build:STREAM_DP"]

test:RandomAccess:
  <<: *test
  variables:
    BENCHMARK_FOLDER: RandomAccess
  dependencies:
    - prepare:venv
    - build:RandomAccess
  needs: ["prepare:venv", "build:RandomAccess"]

test:PTRANS:
  <<: *test
  variables:
    BENCHMARK_FOLDER: PTRANS
    PREPARE_SCRIPT: ../$BENCHMARK_FOLDER/scripts/prepare_tests.sh ./bin
  dependencies:
    - prepare:venv
    - build:PTRANS
  needs: ["prepare:venv", "build:PTRANS"]

test:LINPACK:
  <<: *test
  variables:
    BENCHMARK_FOLDER: LINPACK
  dependencies:
    - prepare:venv
    - build:LINPACK
  needs: ["prepare:venv", "build:LINPACK"]

test:LINPACK_DP:
  <<: *test
  variables:
    BENCHMARK_FOLDER: LINPACK
  dependencies:
    - prepare:venv
    - build:LINPACK_DP
  needs: ["prepare:venv", "build:LINPACK_DP"]

test:GEMM:
  <<: *test
  variables:
    BENCHMARK_FOLDER: GEMM
  dependencies:
    - prepare:venv
    - build:GEMM
  needs: ["prepare:venv", "build:GEMM"]

test:GEMM_HP_REP2:
  <<: *test
  variables:
    BENCHMARK_FOLDER: GEMM
  dependencies:
    - prepare:venv
    - build:GEMM_HP_REP2
  needs: ["prepare:venv", "build:GEMM_HP_REP2"]
  allow_failure: true

test:GEMM_DP_REP2:
  <<: *test
  variables:
    BENCHMARK_FOLDER: GEMM
  dependencies:
    - prepare:venv
    - build:GEMM_DP_REP2
  needs: ["prepare:venv", "build:GEMM_DP_REP2"]

test:FFT:
  <<: *test
  variables:
    BENCHMARK_FOLDER: FFT
  dependencies:
    - prepare:venv
    - build:FFT
  needs: ["prepare:venv", "build:FFT"]

test:FFT_small:
  <<: *test
  variables:
    BENCHMARK_FOLDER: FFT
  dependencies:
    - prepare:venv
    - build:FFT_small
  needs: ["prepare:venv", "build:FFT_small"]

test:b_eff:
  <<: *test
  variables:
    BENCHMARK_FOLDER: b_eff
    PREPARE_SCRIPT: ../$BENCHMARK_FOLDER/scripts/prepare_tests.sh ./bin
  dependencies:
    - prepare:venv
    - build:b_eff
  needs: ["prepare:venv", "build:b_eff"]
