stages:
    - check
    - build
    - test

variables:
  SCHEDULER_PARAMETERS: "-A pc2-mitarbeiter -p normal -q cont -t 00:30:00 -n 2 -N 1"

default:
  tags:
    - jacamar
  before_script:
    - module load fpga/intel/opencl_sdk/21.2.0 fpga/bittware/520n/20.4.0_max toolchain/foss/2021a devel/CMake/3.20.1-GCCcore-10.3.0 lang/Python/3.9.5-GCCcore-10.3.0
    - python -m pip install -r scripts/evaluation/requirements.txt
    - python -m pip install -r scripts/code_generator/requirements.txt

###
#
# Build documentation
#
###

build:docs:
  stage: build
  script:
    - python -m pip install -r docs/requirements.txt
    - module load devel/Doxygen/1.9.1-GCCcore-10.3.0
    - cd docs
    - make html
    - doxygen doxy.config
  only:
    changes:
      - docs/**/*
      - .gitlab-ci.yml
  artifacts:
    paths:
      - docs/build
      - docs/xml

###
#
# Check formatting of all benchmarks
#
###

.check: &check
  stage: check
  script:
    - module load compiler/Clang/13.0.1-GCCcore-11.2.0
    - find $BENCHMARK_FOLDER -regex '.*\.\(cpp\|hpp\|cc\|cxx\|h\)' -exec clang-format -style=file -i {} \;
    - git diff | cat
    ## do not test for real yet
    #- test -z "$(git status --porcelain)"
      
  only:
    changes:
      - $BENCHMARK_FOLDER/**/*
      - shared/**/*
      - scripts/**/*
      - cmake/**/*
      - .gitlab-ci.yml

check:STREAM:
  <<: *check
  variables:
    BENCHMARK_FOLDER: STREAM
            
check:RandomAccess:
  <<: *check
  variables:
    BENCHMARK_FOLDER: RandomAccess

check:PTRANS:
  <<: *check
  variables:
    BENCHMARK_FOLDER: PTRANS

check:LINPACK:
  <<: *check
  variables:
    BENCHMARK_FOLDER: LINPACK

check:GEMM:
  <<: *check
  variables:
    BENCHMARK_FOLDER: GEMM

check:FFT:
  <<: *check
  variables:
    BENCHMARK_FOLDER: FFT

check:b_eff:
  <<: *check
  variables:
    BENCHMARK_FOLDER: b_eff

###
#
# Build all benchmarks
#
###

.build: &build
  stage: build
  script:
    - rm -rf build
    - mkdir -p build
    - cd build
    - cmake ../$BENCHMARK_FOLDER -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 $BENCHMARK_OPTIONS
    - make -j 40 all
  artifacts:
    paths:
      - build/bin/*
  only:
    changes:
      - $BENCHMARK_FOLDER/**/*
      - shared/**/*
      - scripts/**/*
      - cmake/**/*
      - .gitlab-ci.yml

build:STREAM:
  <<: *build
  variables:
    BENCHMARK_FOLDER: STREAM
  dependencies:
    - check:STREAM
  needs: ["check:STREAM"]

build:STREAM_HP:
  <<: *build
  variables:
    BENCHMARK_FOLDER: STREAM
    BENCHMARK_OPTIONS: -DDATA_TYPE=half -DVECTOR_COUNT=1 -DGLOBAL_MEM_UNROLL=32
  dependencies:
    - check:STREAM
  needs: ["check:STREAM"]

build:STREAM_DP:
  <<: *build
  variables:
    BENCHMARK_FOLDER: STREAM
    BENCHMARK_OPTIONS: -DDATA_TYPE=double -DVECTOR_COUNT=1 -DGLOBAL_MEM_UNROLL=8
  dependencies:
    - check:STREAM
  needs: ["check:STREAM"]
            
build:RandomAccess:
  <<: *build
  variables:
    BENCHMARK_FOLDER: RandomAccess
  dependencies:
    - check:RandomAccess
  needs: ["check:RandomAccess"]

build:PTRANS:
  <<: *build
  variables:
    BENCHMARK_FOLDER: PTRANS
    BENCHMARK_OPTIONS: -DHOST_EMULATION_REORDER=Yes
  dependencies:
    - check:PTRANS
  needs: ["check:PTRANS"]

build:LINPACK:
  <<: *build
  variables:
    BENCHMARK_FOLDER: LINPACK
    BENCHMARK_OPTIONS: -DLOCAL_MEM_BLOCK_LOG=4 -DREGISTER_BLOCK_LOG=3 -DNUM_REPLICATIONS=3
  dependencies:
    - check:LINPACK
  needs: ["check:LINPACK"]

build:LINPACK_DP:
  <<: *build
  variables:
    BENCHMARK_FOLDER: LINPACK
    BENCHMARK_OPTIONS: -DLOCAL_MEM_BLOCK_LOG=4 -DREGISTER_BLOCK_LOG=3 -DNUM_REPLICATIONS=3 -DDATA_TYPE=double
  dependencies:
    - check:LINPACK
  needs: ["check:LINPACK"]

build:GEMM:
  <<: *build
  variables:
    BENCHMARK_FOLDER: GEMM
    BENCHMARK_OPTIONS: -DBLOCK_SIZE=32
  dependencies:
    - check:GEMM
  needs: ["check:GEMM"]

build:GEMM_HP_REP2:
  <<: *build
  variables:
    BENCHMARK_FOLDER: GEMM
    BENCHMARK_OPTIONS: -DDATA_TYPE=half -DNUM_REPLICATIONS=2 -DBLOCK_SIZE=32
  dependencies:
    - check:GEMM
  needs: ["check:GEMM"]
  allow_failure: true

build:GEMM_DP_REP2:
  <<: *build
  variables:
    BENCHMARK_FOLDER: GEMM
    BENCHMARK_OPTIONS: -DDATA_TYPE=double -DNUM_REPLICATIONS=2 -DBLOCK_SIZE=32
  dependencies:
    - check:GEMM
  needs: ["check:GEMM"]

build:FFT:
  <<: *build
  variables:
    BENCHMARK_FOLDER: FFT
  dependencies:
    - check:FFT
  needs: ["check:FFT"]

build:FFT_small:
  <<: *build
  variables:
    BENCHMARK_FOLDER: FFT
    BENCHMARK_OPTIONS: -DLOG_FFT_SIZE=4 -DNUM_REPLICATIONS=2
  dependencies:
    - check:FFT
  needs: ["check:FFT"]

build:b_eff:
  <<: *build
  variables:
    BENCHMARK_FOLDER: b_eff
    BENCHMARK_OPTIONS: -DHOST_EMULATION_REORDER=Yes
  dependencies:
    - check:b_eff
  needs: ["check:b_eff"]


###
#
# Execute tests for all benchmarks
#
###

.test: &test
  stage: test
  script:
    - mkdir -p build
    - cd build
    - cmake ../$BENCHMARK_FOLDER $BENCHMARK_OPTIONS -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
    - make all -j41
    - $PREPARE_SCRIPT
    - make CTEST_OUTPUT_ON_FAILURE=1 test
  artifacts:
    when: on_failure
    paths:
      - build/Testing/Temporary/LastTest.log
  only:
    changes:
      - $BENCHMARK_FOLDER/**/*
      - shared/**/*
      - scripts/**/*
      - cmake/**/*
      - .gitlab-ci.yml


test:STREAM:
  <<: *test
  variables:
    BENCHMARK_FOLDER: STREAM
  dependencies:
    - build:STREAM
  needs: ["build:STREAM"]

test:STREAM_HP:
  <<: *test
  variables:
    BENCHMARK_FOLDER: STREAM
    BENCHMARK_OPTIONS: -DDATA_TYPE=half -DVECTOR_COUNT=1 -DGLOBAL_MEM_UNROLL=32
  dependencies:
    - build:STREAM_HP
  needs: ["build:STREAM_HP"]
  allow_failure: true

test:STREAM_DP:
  <<: *test
  variables:
    BENCHMARK_FOLDER: STREAM
    BENCHMARK_OPTIONS: -DDATA_TYPE=double -DVECTOR_COUNT=1 -DGLOBAL_MEM_UNROLL=8
  dependencies:
    - build:STREAM_DP
  needs: ["build:STREAM_DP"]
            
test:RandomAccess:
  <<: *test
  variables:
    BENCHMARK_FOLDER: RandomAccess
  dependencies:
    - build:RandomAccess
  needs: ["build:RandomAccess"]

test:PTRANS:
  <<: *test
  variables:
    BENCHMARK_FOLDER: PTRANS
    BENCHMARK_OPTIONS: -DHOST_EMULATION_REORDER=Yes
    PREPARE_SCRIPT: ../$BENCHMARK_FOLDER/scripts/prepare_tests.sh ./bin
  dependencies:
    - build:PTRANS
  needs: ["build:PTRANS"]

test:LINPACK:
  <<: *test
  variables:
    BENCHMARK_FOLDER: LINPACK
    BENCHMARK_OPTIONS: -DLOCAL_MEM_BLOCK_LOG=4 -DREGISTER_BLOCK_LOG=3 -DNUM_REPLICATIONS=3
  dependencies:
    - build:LINPACK
  needs: ["build:LINPACK"]

test:LINPACK_DP:
  <<: *test
  variables:
    BENCHMARK_FOLDER: LINPACK
    BENCHMARK_OPTIONS: -DLOCAL_MEM_BLOCK_LOG=4 -DREGISTER_BLOCK_LOG=3 -DNUM_REPLICATIONS=3 -DDATA_TYPE=double
  dependencies:
    - build:LINPACK_DP
  needs: ["build:LINPACK_DP"]

test:GEMM:
  <<: *test
  variables:
    BENCHMARK_FOLDER: GEMM
    BENCHMARK_OPTIONS: -DBLOCK_SIZE=32
  dependencies:
    - build:GEMM
  needs: ["build:GEMM"]

test:GEMM_HP_REP2:
  <<: *test
  variables:
    BENCHMARK_FOLDER: GEMM
    BENCHMARK_OPTIONS: -DDATA_TYPE=half -DNUM_REPLICATIONS=2 -DBLOCK_SIZE=32
  dependencies:
    - build:GEMM_HP_REP2
  needs: ["build:GEMM_HP_REP2"]
  allow_failure: true

test:GEMM_DP_REP2:
  <<: *test
  variables:
    BENCHMARK_FOLDER: GEMM
    BENCHMARK_OPTIONS: -DDATA_TYPE=double -DNUM_REPLICATIONS=2 -DBLOCK_SIZE=32
  dependencies:
    - build:GEMM_DP_REP2
  needs: ["build:GEMM_DP_REP2"]

test:FFT:
  <<: *test
  variables:
    BENCHMARK_FOLDER: FFT
  dependencies:
    - build:FFT
  needs: ["build:FFT"]

test:FFT_small:
  <<: *test
  variables:
    BENCHMARK_FOLDER: FFT
    BENCHMARK_OPTIONS: -DLOG_FFT_SIZE=4 -DNUM_REPLICATIONS=2
  dependencies:
    - build:FFT_small
  needs: ["build:FFT_small"]

test:b_eff:
  <<: *test
  variables:
    BENCHMARK_FOLDER: b_eff
    BENCHMARK_OPTIONS: -DHOST_EMULATION_REORDER=Yes
    PREPARE_SCRIPT: ../$BENCHMARK_FOLDER/scripts/prepare_tests.sh ./bin
  dependencies:
    - build:b_eff
  needs: ["build:b_eff"]


